.m-button{
    //border: .2em solid;
    border:none;
    padding:1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    //opacity: 0.6;
    color: #FFF;
    background-color: darken(lightblue,20%);
    transition: all .3s ease-out;
    &:hover{
        transform: translateY(-5px);
    }
}