.m-project{

    //display:flex;
    padding:1rem;
    //transition:all .3s ease-out;

    @media(min-width:40rem){
        width:100%;
    }
    @media(min-width:56rem){
        width:50%;
    }

    &--selected{
        /* width:100%; - full width opened project */
        /* order:1; - full width opened project */
    }

    &--not-selected{
        /*order:2; - full width opened project */
    }

    &.m-project--selected{

        .m-project__thumb{
            /*display:none; - full width opened project */
        }
    
        .m-project__focus{
            display:block;
        }

    }    

    &__focus{
        display:none;
        padding:.25rem;
        width:100%;
        background-color: #fff;
        /*border-radius:.25rem; - full width opened project */
        /*box-shadow:0 20px 40px -14px rgba(0,0,0,0.25); - full width opened project */

        img{
            max-height: 50vh;
            max-width:100%;
        }
    }

    &__link{
        padding:0 1rem 1rem !important;
    }

    .m-project__focus--left,
    .m-project__focus--right{
        display: inline-block;
        width:50%;
        overflow:hidden;
    }

    .m-project__focus--right{
        padding:1rem;        
    }

    &__title{
        padding-left:.5rem;
        border-left: 5px solid lightblue;
        text-decoration: none !important;
    }

    &__description{
        color:#555;
        text-decoration: none !important;
    }

    &__tech{
        color:darken(lightblue,30%);
        text-decoration: none !important;
    }

    article{
        background-color: #fff;
        border-radius:.25rem;
        box-shadow:0 20px 40px -14px rgba(0,0,0,0.25);
        display:flex;
        flex-direction:column;
        overflow: hidden;
        width:100%;        
        cursor: pointer;
        img{
            width:100%;
            height: auto;
            opacity:0.85;
            transition: all .3s ease-out;
            &:hover{
                opacity:1;
            }
        }
        div{
            padding:0 1rem;
        }

    }
    
    hr{
        border: 1px solid lightgray;
    }

}

