.m-project{

    display:flex;
    padding:1rem;
    @media(min-width:40rem){
        width:100%;
    }
    @media(min-width:56rem){
        width:50%;
    }

    article{
        background-color: #fff;
        border-radius:.25rem;
        box-shadow:0 20px 40px -14px rgba(0,0,0,0.25);
        display:flex;
        flex-direction:column;
        overflow: hidden;
        width:100%;        
        cursor: pointer;
        img{
            width:100%;
            height: auto;
            opacity:0.85;
            transition: all .3s ease;
            &:hover{
                opacity:1;
            }
        }
        div{
            padding:0 1rem;
        }
    }    

}

