.m-tools-icon{
    display:block;
    width:100%;
    text-align: center;
    ul{
        list-style: none;
        padding-left: 0;  
        width:100%;      
        li{
            padding: 2em;
            display: inline-block;
            text-align: center;
            span{
                &:before{
                    transform: rotate(-45deg);
                    display: inline-block;
                    line-height: inherit;
                }
            }
        }
    }
}

.m-tools-icon__icon{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 4px;
    //border: 1px solid hsla(0,0%,56.5%,.5);
    border: 1px solid #fff;
    display: inline-block;
    height: 8em;
    line-height: 8em;
    margin: 0;
    text-align: center;
    width: 8em;
}
