.o-navbar{
    display:block;
    position:fixed;
    top:0;
    width:100%;
    z-index:99;
    //height:2rem;      
    //background-color:yellow;

    ul{
        list-style: none;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin:0 auto;
        padding:0 1rem 0 1rem;
        transition: all .3s ease;        

        li{
            color:#333;    
            font-size: 1rem;
            //background-color:green;
            /*letter-spacing: 1px;*/
        
            & + li{
                margin-left: 1rem;
            }

            a{
                display:block;
                color:#333;
                text-decoration: none;
                padding:1rem 0.5rem;        
                transition: .3s all;
                &:hover{
                    text-decoration: underline;
                }                   
            }
            
            &.active a{
                text-decoration: underline;
                color: #999;
            }

        }

        li:first-child{
            font-size:1.1rem;
            justify-self: flex-start;
            margin-right: auto;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding:0.5rem 0; 
            //background-color:red;   
        
            /*@include mq('tablet-small', 'max') {
                //color:#fff;
                display: block;
                width:100%;
                margin:0;
            }
        
            @include mq('tablet-small', 'max') {
                //color:#fff;
                display: block;
                width:100%;
                margin:0;
            }*/
        }
    }

    &__logo {
        margin: 0;
        font-size: 1.45em;
    }
}