section{
    display:flex;
    width:100%;
    min-height:100vh;
    position:relative;

    &.section--hero{        
        background-color: rgba(0,44,254,0.3);
        background:url('/img/bg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        justify-items: center;
        align-items: center;
    }

    &.section--projects{
        flex-direction: column;       
        background-color:$lightgrey;
        background:url('/img/bg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    &.section--tools{        
        background-color: lightblue;
        /*height:auto;
        min-height:auto;*/
        padding:3rem 1rem;
        justify-items: center;
        align-items: center;
    }

    &.section--contact{        
        background:url('/img/bg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    &.section--background,
    .patterns-content{
        position:absolute;
        z-index: -999;
        top:0;
        left:0;
        height:100%;
        width:100%;
    }
}